/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
 
 .right-panel .navbar-brand img {
  max-width: 226px;
}

.error-field {
  width: 93%;
  display: inline;
  margin-bottom: 0px;
}
.error-field span {
  color: #dc3545;
}
.error-field input {
  border-color: #dc3545;
}
.error-field label {
  color: #dc3545;
}

.cow-item {
  float: left;
  margin-left: 28px;
  text-align: center;
}

.cow-item img {
  width: 50px;
}

.cow-icon {
  width: 30px;
  margin-top: -10px;
}

.cow-show-title {
  margin-top: 1px;
  margin-left: 5px;
  font-size: 21px;
  font-weight: bold;
}
.cow-add-icon {
  font-size: 28px;
  color:black;
  margin-top: 18px;
}

.tambo-link {
  color: black;
}

.tambo-link:hover {
  color: #3ed22f;
}

.edit-btn-cust {
  padding: 4px;
  border-radius: 4px;
}

.tambo-logo {
  width: 140px;
  margin-left: 40%;
}

.tambo-logo-mini {
  width: 30px;
}

.display-6 {
  font-size: 27px;
}

.exmaple {
  font-style: italic;
}

.form-group select {
  width: 100%;
}

.cow-reference {
  width: 22px;
  margin-bottom: 5px;
}

footer.site-footer {
  padding: 0;
}

footer.site-footer .footer-inner {
  padding: 1.125em;
}

.hand-mouse {
  cursor:pointer;
}

.stat-pregnant {
  color:#fff;
  background-color:#221D8F;
}
.stat-discard {
  color:#fff;
  background-color:#ED2F15;
}
/*
.stat-dry {
  color:#fff;
  background-color:#0FA20B;
}
.stat-empty {
  color:#fff;
  background-color:#EDE515;
}
.stat-dead {
  color:#fff;
  background-color:#010101;
}
.stat-served {
  color:#fff;
  background-color:#BD12B3;
}
*/

#calendar {
  text-align: center;
}

#calendar h1 {
  margin-top: 2%;
}
#calendar img {
  margin-top: 3%;
  margin-bottom: 3%;
}

.profile-nav.alt {
  box-shadow: 1px 0px 33px 1px rgba(0,0,0,0.2);
}
